.main-display {
    grid-column: 2/-1;
}

.main-header {
    background: url('../assets/header-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 1.5rem 1rem;

}

.main-container {
    padding: 1rem;
}