@import 'mixins';
@import 'variables';

.todo-container {
    width: 100%;
}


.todo-list {
    display: flex;
    flex-flow: column wrap;
}



.todo-item {
    border-bottom: 1px solid #000;
    padding: 1.5rem;


    display: grid;
    row-gap: .75rem;
    grid-template-columns: 2.5rem repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;

    &:last-child {
        margin-bottom: 2rem;
    }

}

.todo-done {
    grid-row: 1 / -1;
}

.todo-description {
    grid-column: 2 / 7;
}


.todo-controls {
    grid-row: 1 / -1;
    grid-column: 8 / -1;
}

.todo-category {
    grid-area: 2 / 2;
    font-size: .8rem;
    border-radius: 5px;
    justify-self: start;
    padding: .25rem .5rem;
    cursor: pointer;
    background: $color-grey-secondary-light;
}


.todo-input {
    width: 25%;
}

.btn {
    border-radius: 10px;


    &:hover {
        transform: scale(1.05);
        backface-visibility: hidden;
    }
}

.todo-delete {
    margin-left: .25rem;
    background-color: #FF4C4C;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
}

.todo-modal {
    width: 50%;
    height: 50%;
    border: 1px solid #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;

    &__close {
        background-color: #FF4C4C;
        margin-bottom: 1rem;
    }
}

.todo-form {
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    &>label>input {
        margin-top: .75rem;
        margin-left: .5rem;
        width: 100%;
    }


}